<form action="cadastro_cliente" method="post">
    <table>
      <tr>
        <td>
          <h1>Dados pessoais:</h1>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><label for="nome">Nome:</label> </td>
        <td><input type="text" name="nome" id="nome" maxlength="150" style="width:200px "></td>
        <td><label for="datanasc">Data de nascimento:</label></td>
        <td><input type="text" name="datanasc" id="datanasc"></td>
      </tr>
      <tr>
        <td><label for="cpf">CPF:</label></td>
        <td><input type="text" name="cpf" id="cpf"></td>
        <td><label for="rg">RG:</label></td>
        <td><input type="text" name="rg" id="rg"></td>
      </tr>
      <tr>
        <td>
          <h1>Contatos:</h1>
        </td>
        <tr>
          <td><label for="telefone">Telefone:</label> </td>
          <td><input type="text" name="telefone" id="telefone"></td>
          <td><label for="telefone">Celular:</label> </td>
          <td><input type="text" name="celular" id="celular"></td>
        </tr>
        <tr>
          <td><label for="email1">Email1:</label> </td>
          <td><input type="text" name="email1" id="email1"></td>
          <td><label for="email2">Email2:</label> </td>
          <td><input type="text" name="email2" id="email2"></td>

        </tr>
        <tr>
          <td>
            <h1>Endereço:</h1>
          </td>
          <tr>
            <tr>
              <td><label for="rua">Rua:</label> </td>
              <td><input type="text" name="rua" id="rua"  maxlength="150" style="width:200px "></td>
              <td><label for="numero">Numero:</label> </td>
              <td><input type="text" name="numero" id="numero"  maxlength="80" style="width:20px "></td>

            </tr>

            <tr>
              <td><label for="bairro">Bairro:</label> </td>
              <td><input type="text" name="bairro" id="bairro"></td>
            </tr>
            <tr>
              <td><label for="complemento">Complemento:</label> </td>
              <td><input type="text" name="complemento" id="complemento"></td>
            </tr>
            <tr>
              <td><label for="cidade">Cidade:</label> </td>
              <td><input type="text" name="cidade" id="cidade"></td>
            </tr>
            <tr>
                <td><br></td>
                
              </tr>
            <tr>
                <td><input type="submit" name="enviar" id="enviar"></td>
                <td><input type="reset" name="limpa" id="limpa"></td>
              </tr>

    </table>
  </form>