<table>
  <tr>
    <td>
      <h1>Transferência:</h1>
    </td>
    <td><br></td>
  </tr>

 <tr>
    
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
        <span class="ui-inputgroup-addon"><i class="fa fa-btc"></i></span>   
        <input type="text" pInputText placeholder="Valor em BTC"> 
        <span class="ui-inputgroup-addon">$</span>  
        <span class="ui-inputgroup-addon">.00</span>      
    </div>

  </tr>
  <tr><br> </tr>
  <tr>
      <span class="ui-float-label">
          <input id="float-input" type="text" size="20" pInputText> 
          <label for="float-input">Endereço BTC</label>
          <button pButton type="button" (click)="onclick()" label="Enviar"></button>
      </span>
    
      
      
    
    </tr>

</table>