<table>
  <tr>
    <td>
      <h1>Transferência:</h1>
    </td>
    <td><br></td>
  </tr>

  <tr><label for="enderecobtc">Valor Bitcoin:</label> <br> </tr>
  <tr><input type="text" name="valorbtc" id="valorbtc" maxlength="20" style="width:30px"></tr>
  <tr><label for="enderecobtc">Endereço destino Bitcoin:</label> <br> </tr>
  <tr><input type="text" name="enderecobtc" id="enderecobtc" maxlength="200" style="width:300px">
    <input type="submit" name="envia" id="envia" value="Enviar">
  </tr>

</table>