<div> 
  <img class="logo" src="./assets/logo.png" />
  
    <table>
      <tr>
        <td>Login: </td>
        <td><input [(ngModel)]="cliente.login" id="cliente" type="text" class="validate"></td>
      </tr>
      <tr>
        <td>Senha: </td>
        <td><input [(ngModel)]="cliente.senha" id="cliente" type="password" class="validate"></td>
      </tr>
      <tr>
        <td></td>
        <td><button pButton type="button" (click)="fazerLogin()" label="Click">envia</button></td>
      </tr>
    </table>
  </div>