<table>
  <tr>
    <td>
      <h1>Deposito em dinheiro:</h1>
    </td>
    <td><br></td>
  </tr>
  <tr>
    <td><label for="valordeposito">Dados bancário Acepay:</label> <br> </td>
    <td> <br><br><br></td>
  </tr>
  <tr>
    <td><label for="valordeposito">Valor a ser depositado:</label> </td>
    <td><input type="text" name="valordeposito" id="valordeposito" maxlength="15" style="width:50px"> </td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
  <tr>
    <td><input type="submit" name="enviardep" id="enviardep" value="Depositar"></td>
    <td></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
  <tr>
    <td><label for="comprovantedep">Comprovante de depósito:</label> </td>
    <td><input type="file" name="comprovantedep" id="comprovantedep" maxlength="150" style="width:200px "></td>

  </tr>
  <tr>
    <td><br></td>
  </tr>

  <tr>
    <td><input type="submit" name="enviarcomp" id="enviarcomp" value="Enviar"></td>
    <td><input type="reset" name="limpa" id="limpa"></td>
  </tr>

</table>