<table>
  <tr>
    <td>
      <h1>Deposito em dinheiro:</h1>
    </td>
    <td><br></td>
  </tr>
  <tr>
    <td><label for="valordeposito">Dados bancários Acepay:</label> <br> </td>
    <td> <br><br><br></td>
  </tr>
  <tr>
   <span class="ui-float-label">
          <input id="float-input" type="text" size="20" pInputText> 
          <label for="float-input">Valo do depósito</label>
          <button pButton type="button" (click)="onclick()" label="Deposito"></button>
      </span>
  
  </tr>
  <tr>
    <td><br></td>
  </tr>
  <tr>
     <td></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
  <tr>
    <td>
      <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
      accept="image/*" maxFileSize="1000000">
      <ng-template pTemplate="toolbar">
          <div>Enviar 3 comprovantess</div>
      </ng-template>  
      <ng-template let-file pTemplate="file">
          <div>Mostras arquivos a enviar</div>
      </ng-template> 
      <ng-template pTemplate="content">
          <!--<div>Custom UI to manage uploaded files</div>-->
      </ng-template>  
      </p-fileUpload> 
    </td>
  
        
  </tr>
  <tr>
    <td><br></td>
  </tr>

  <tr>
    <td> <button pButton type="button" (click)="onclick()" label="Enviar"></button></td>
    <button pButton class="ui-button-warning" type="button" (click)="onclick()" label="Redefinir"></button>
  </tr>

</table>