<table>
    <tr>
      <td>
        <h1>Comprar:</h1>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><label for="valorminimo">Valor mínimo de compra:</label> </td>
      <td></td>
      <td><label for="valormaximo">Valor máximo de compra:</label> </td>
      <td></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><label for="valorcompra">Valor para compra:</label> </td>
      <td><input type="text" name="valorcompra" id="valorcompra" maxlength="15" style="width:50px "></td>
      
    </tr>
    <tr>
      <td><br></td>
    </tr>
  
    <tr>
      <td><input type="submit" name="comprar" id="compra" value="Comprar"></td>
      <td><input type="reset" name="limpa" id="limpa"></td>
    </tr>
  
  </table>