<table>
    <tr>
      <td>
        <h1>Comprar:</h1>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><label label class="ui-button-text" for="valorminimo">Valor mínimo de compra:</label> </td>
      <td></td>
      <td><label label class="ui-inputgroup-addon" for="valormaximo">Valor máximo de compra:</label> </td>
      <td></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><label class="ui-button-text" for="valorcompra">Valor para compra:</label> </td>
      <td><input type="text" pInputText placeholder="Valor" name="valorcompra" id="valorcompra" maxlength="15" style="width:50px "></td>
      
    </tr>
    <tr>
      <td><br></td>
    </tr>
  
    <tr>
      <td><button pButton type="button" icon="fa-check" label="Comprar"></button></td>
      <td><button class="ui-button-warning" pButton type="reset" label="Limpar"></button></td>
    </tr>
  
  </table>