<table>
  <tr>
    <td>
      <h1>Vender:</h1>
    </td>
    <td></td>
  </tr>
  <tr>
    <td><label for="valorminimo">Valor mínimo de venda:</label> </td>
    <td></td>
    <td><label for="valormaximo">Valor máximo de venda:</label> </td>
    <td></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
  <tr>
    <td><label for="valorvenda">Valor para venda:</label> </td>
    <td><input type="text" name="valorvenda" id="valorvenda" maxlength="15" style="width:50px "></td>
    
  </tr>
  <tr>
    <td><br></td>
  </tr>

  <tr>
    <td><input type="submit" name="veder" id="vender" value="Vender"></td>
    <td><input type="reset" name="limpa" id="limpa"></td>
  </tr>

</table>