<table>
  <tr>
    <td>
      <h1>Ordem de venda:</h1>
    </td>
    <td></td>
  </tr>
  <tr>
    <td><label for="valorminimo">Valor mínimo de venda:</label> </td>
    <td></td>
    <td><label for="valormaximo">Valor máximo de venda:</label> </td>
    <td></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
  <tr>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
      <span class="ui-inputgroup-addon"><i class="fa fa-money"></i></span>   
      <input type="text" pInputText placeholder="Preço"> 
      <span class="ui-inputgroup-addon">$</span>  
      <span class="ui-inputgroup-addon">.00</span>      
  </div>
    
  </tr>
  <tr>
    <td><br></td>
  </tr>

  <tr>
    <td><button pButton type="button" icon="fa-check" label="Vender"></button></td>
    <td><button class="ui-button-warning" pButton type="reset" label="Limpar"></button></td>
  </tr>

</table>