<table>
  <tr>
    <td>
      <h1>Deposito em bitcoin:</h1>
    </td>
    <td><br></td>
  </tr>

  <tr>
     
  </tr>
  
  <tr>
  
      <button pButton type="button" (click)="onclick()" label="Gerar Endereço Btc"></button>   
  
  </tr>
  
  <tr>
  
      <span class="ui-float-label">
        
          <input id="float-input" type="text" size="45" pInputText> 
          <label for="float-input">Endereço BTC</label>
          <button pButton class="ui-button-secondary" type="button" (click)="onclick()" label="Copiar"></button>
          
      </span>
      
  </tr>
  
</table>