<table>
    <tr>
      <td>
        <h1>Dados pessoais:</h1>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><label for="nome">Nome:</label> </td>
      <td></td>
      <td><label for="datanasc">Data de nascimento:</label></td>
      <td></td>
    </tr>
    <tr>
      <td><label for="cpf">CPF:</label></td>
      <td></td>
      <td><label for="rg">RG:</label></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <h1>Contatos:</h1>
      </td>
      <tr>
        <td><label for="telefone">Telefone:</label> </td>
        <td></td>
        <td><label for="telefone">Celular:</label> </td>
        <td></td>
      </tr>
      <tr>
        <td><label for="email1">Email1:</label> </td>
        <td></td>
        <td><label for="email2">Email2:</label> </td>
        <td></td>

      </tr>
      <tr>
        <td>
          <h1>Endereço:</h1>
        </td>
        <tr>
          <tr>
            <td><label for="rua">Rua:</label> </td>
            <td></td>
            <td><label for="numero">Numero:</label> </td>
            <td></td>

          </tr>

          <tr>
            <td><label for="bairro">Bairro:</label> </td>
            <td></td>
          </tr>
          <tr>
            <td><label for="complemento">Complemento:</label> </td>
            <td></td>
          </tr>
          <tr>
            <td><label for="cidade">Cidade:</label> </td>
            <td></td>
          </tr>
          <tr>
              <td><br></td>
              
            </tr>
          <tr>
              <td><input type="submit" name="enviar" id="enviar"></td>
              <td><input type="reset" name="limpa" id="limpa"></td>
            </tr>

  </table>