<table>
    <tr>
      <td>
        <h1>Dados pessoais:</h1>
      </td>
      <td></td>
    </tr>
    <tr>
        
      <td>
      <span class="ui-float-label">
        
          <input id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Nome</label>
      </span>
      </td>
      
      <td>
        <p-calendar [(ngModel)]="date10">
            <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
            </ng-template>
        </p-calendar>   
      </td>
    </tr>
    <tr>
      <td><span class="ui-float-label">
          <input id="float-input" type="text" size="20" pInputText> 
          <label for="float-input">CPF</label>
      </span>
 </td>
      <td><span class="ui-float-label">
          <input id="float-input" type="text" size="20" pInputText> 
          <label for="float-input">RG</label>
      </span>
</td>
    </tr>
    <tr>
      <td>
        <h1>Contatos:</h1>
      </td>
      <tr>
        <td><span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">Telefone</label>
        </span>
        </td>
        <td>
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">CPF</label>
            </span>
      

        </td>
     </tr>
      <tr>
        <td><span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">Email</label>
        </span>
        </td>
        <td>
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Confirme o Email</label>
            </span>
       
        </td>

      </tr>
      <tr>
        <td>
          <h1>Endereço:</h1>
        </td>
        <tr>
          <tr>
            <td><span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Rua</label>
            </span>
            </td>
            <td><span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Número</label>
            </span>
            </td>
           

          </tr>

          <tr>
            <td><span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Bairro</label>
            </span>
      </td>
          </tr>
          <tr>
            <td><span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Cidade</label>
            </span>
      </td>
          <tr>
              <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">UF</label>
              </span>         
          </tr>
          <tr>
              <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">Pais</label>
              </span>    
            
          </tr> 
          <tr>
              <td> <button pButton type="button" (click)="onclick()" label="Enviar"></button>
              </td>
              <td> <button pButton class="ui-button-warning" type="button" (click)="onclick()" label="Redefinir"></button>
              </td>
            </tr>

  </table>