<div class="centralizadora">
  <div class="cabecalho">
    <img class="logo" src="./assets/logo.png" />
  </div>
  <div class="menu_esquerdo">
    <ul>
      <li>Dados pessoais</li>
      <li>Compra</li>
      <li>Venda</li>
      <li>Deposito R$</li>
      <li>Deposito BTC</li>
      <li>Transferência</li>
      <li>histórico</li>
    </ul>
  </div>
  <!--<div class="menu_direito">
    <h1>menu direito</h1>
  </div>-->
  <div class="central">
    <!--<app-cad-cliente></app-cad-cliente>-->
    <!--<app-dados-pessoais></app-dados-pessoais>-->
    <!--<app-vender></app-vender>-->
    <!--<app-compra></app-compra>-->
    <!--<app-depositodin></app-depositodin>-->
    <app-depositobtc></app-depositobtc>
  </div>
  <div class="rodape">
    <h1>roda-pé</h1>
  </div>
</div>